#XfceNotifyWindow {
    background-color: #373b41;
    border-radius: 5x;
    border: none;
    padding: 20px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #ffffff;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #202020;
    color: #ffffff;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #404040;
    color: #ffffff;
}
