#XfceNotifyWindow {
    background-color: #1d1f21;
    border-radius: 5px; 
    border: none;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #c5c8c6;
}


#XfceNotifyWindow label#summary {
    font-weight: Bold;
    margin-bottom: 8px;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #404040;
    color: #ffffff;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #5b5a5a;
    color: #ffffff;
}
