[Desktop Entry]
Type=Application
Name=Compton
GenericName=X compositor
Comment=A X compositor
Icon=compton
TryExec=compton
Exec=compton -c -C
OnlyShowIn=GNOME-Flashback;
Terminal=false
NoDisplay=true